docs/specs/swh.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:attribute  type="xs:string" name="reference"  minOccurs="0"/>
        <xs:element name="manifest" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="object" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:attribute type="xs:string" name="path"/>
                    <xs:attribute type="xs:string" name="swhid"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
